body {
	background-color: #FCEBB6;
}

.container {
	width: 320px;
	margin: 200px auto;
}

.square {
	width: 100px;
	height: 100px;
	float: left;
	border: 1px solid;
}

.player1 {
	background: blue;
}

.player2 {
	background: red;
}

h1 {
	font-family: 'Rock Salt', cursive;
	margin: auto;
	text-align: center;
}